@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
   background-color: #6A0DAD;
}

header {
    width: 100%;
    top: 0;
    border-bottom: 1px solid #6A0DAD;
    background-color: #ffffffe5; 
    position: relative;
    z-index: 1;
}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav .logo {
    width: 300px;
    height: auto;
}

nav .logo img {
    width: 100%;
    height: auto;
}

#nav_list {
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.nav-item a {
    text-decoration: none;
    color:  #6A0DAD ;
    font-weight: 600;
    font-size: 20px; 
    transition: 0.3s all;
}

.nav-item a:hover {
    color:#BE6CF6;
    font-size: 25px;
}

#quem {
    border-bottom: 3px solid #6A0DAD;
}

h1{
    position: absolute;
    color: white;
    top: 20px;
    border-bottom: 1px solid white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.diagonal-split {
    display: flex;
    width: 100%;
    height: 80vh;
}

.content-img {
    width: 50%;
    height: 100%;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content-text {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background-color: #6A0DAD;
    font-size: 1.2rem;
    line-height: 1.6;
}

.content-text img{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 350px;
    right: 450px;
}


footer {
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 8vh;
}

#footer-itens{
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);
    font-weight: 500;
    color: white;
}

.social-media-buttons{
    width:30%;
}

.social-media-buttons a{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: rgb(36, 35, 35);
    transition: 0.3s all;
}

.social-media-buttons a i{
    font-size: 20px;
    color: white;
}

.social-media-buttons a h2{
    font-size: 18px;
    color: white;
}

.social-media-buttons a:hover {
    color:#6A0DAD;
}

