header {
    width: 100%;
    top: 0;
    border-bottom: 1px solid #6A0DAD;
    background-color: #ffffffe5; 
    position: relative;
    z-index: 1;
}

nav {
    align-items: center;
    display: flex;
}

nav .logo {
    width: 300px;
    height: auto;
}

nav .logo img {
    width: 100%;
    height: auto;
}

#nav_list {
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.nav-item a {
    text-decoration: none;
    color:  #6A0DAD ;
    font-weight: 600;
    font-size: 20px; 
    transition: 0.3s all;
}

.nav-item a:hover {
    color:#BE6CF6;
    font-size: 25px;
}


.nav-item .triangle {
    display: inline-block;
    margin-left: 5px; 
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 5px solid #6A0DAD;
}

/* Adiciona rotação ao triângulo ao abrir o dropdown */
#dropdown:hover .triangle {
    transform: rotate(180deg); 
    transition: transform 0.2s ease; 
}


.dropdown-menu {
    background-color: #f5e8fd;
    position: absolute;
    list-style: none;
    border: 1px solid #6A0DAD;
    box-shadow:  0 0 2px black;
    display: none;
    max-width: 300px;
}

.dropdown-menu a {
    display: block;
    padding: 5%;
}

.dropdown-menu a:hover {
    font-size: 20px;
}

#dropdown:hover .dropdown-menu{
    display: block;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Resposividade */

/* Celulares até 576px */

@media (max-width: 576px){
    header {
        height: auto;
        width: 100vw;
    }


    #nav_list {
        width: 90vw;
    }

    .nav-item {
        display: none;
    }

    nav .logo{
        width: 400vw;
    }

    .mobile-menu-icon {
        display: block;
        margin-right: 10%;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        margin-right: 10%;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
        border-top: 1px solid #6A0DAD;
    }

    .opens {
        display: block;
    }

    /* Esconda o dropdown-menu no mobile por padrão */
    .mobile-menu #dropdown .dropdown-menu {
         display: none;
         position: relative; /* Para evitar sobreposição no mobile */
         right: -30px;/* Remove alinhamento à direita no mobile *//* Remove alinhamento vertical no mobile */
         margin-top: 10px;
    }

/* Exiba o dropdown-menu no mobile apenas quando a classe 'open' for adicionada */
    .mobile-menu #dropdown.opens .dropdown-menu {
         display: block;
    }
    
}

  /* Tablets até 900px */

  @media (min-width: 577px) and (max-width: 900px){
    .nav-item a{
        font-size: 2vw;
    }

    nav .logo {
        width: 25vw;
    }

}

    @media (max-height: 700px){
        header {
            height: 20vh;
        }
    }

