header {
    width: 100%;
    top: 0;
    border-bottom: 1px solid #6A0DAD;
    background-color: #ffffffe5; 
    position: relative;
    z-index: 1;
}

nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav .logo {
    width: 300px;
    height: auto;
}

nav .logo img {
    width: 100%;
    height: auto;
}

#nav_list {
    width: 70%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.nav-item a {
    text-decoration: none;
    color:  #6A0DAD ;
    font-weight: 600;
    font-size: 20px; 
    transition: 0.3s all;
}

.nav-item a:hover {
    color:#BE6CF6;
    font-size: 25px;
}
