@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url('../imgs/fundo2_back.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


main {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.section-left{
    width: 30%;
    height: 60vh;
    background-color: #6A0DAD;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section-left h1{
    color: #fffffff5;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}

.section-left p {
    color: #fffffff5;
    text-align: justify;
    font-size: 20px;
}

.section-left a {
    width: 100%;
    text-align: center;
}

.section-left button{
    position: relative;
    width: 50%;
    min-height: 7vh;
    background-color: #ffffffc6;
    cursor: pointer;
    margin-top: 7%;
    color: #000;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: 0.3s all, box-shadow 0.2s ease;
}

.section-left button:hover{
    transform: translateY(-5px); /* Eleva o botão em 5px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efeito 3D */
    background-color: #ffffff83 ;
}

.section-left #gatinho {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 30vw;
    left: 27vw;
}
.section-right{
    width: 40%;
    height: 60vh;
    background-color: #BE6CF6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 30px;
}

.section-right .carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 600px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.img-car{
    object-fit: contain;
    height: 400px;
    width: 600px;
    flex-shrink: 0;
}

/* Responsividade */

/* Celulares até 576px */

@media (max-width: 576px){
    main {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .section-left {
        width: 90%;
        height: auto;
    }

    .section-left h1 {
        font-size: 22px;
        line-height: 2rem;
    }

    .section-left p {
        font-size: 16px;
        line-height: 2rem;
    }

    .section-left button {
        height: 10%;
    }

    .section-left #gatinho {
        display: none;
    }

    .section-right {
        display: none;
    }

    .section-right .carrossel {
       display: none;
    }

}

/* Tablets até 790px */

@media (min-width: 577px) and (max-width: 790px){
    .section-left {
        width: 80%;
        height: 70vh;
    }

    .section-right {
        display: none;
    }

    .section-right .carrossel {
        display: none;
    }

    .section-left #gatinho {
        top: 49vw;
        left: 65vw;
    }

    .section-left p {
        padding: 30px;
    }
    .section-left #gatinho {
        display: none;
    }
}

/* Tablets de até 900px */

@media (min-width: 791px) and (max-width: 1200px){
    main {
        flex-direction: column;
    }
    
    .section-left {
        width: 75vw;
        margin-bottom: 40px;
    }

    .section-right {
        height: 50vh;
        width: 80vw;
    }

    .section-right .carrossel {
        width: 600px;
        height: 400px;
    }

    .section-left #gatinho {
        top: 49vw;
        left: 65vw;
    }

    .section-left p {
        padding: 30px;
    }
}

@media (min-width:1050px) and (max-width: 1200px) {
    .section-left {
        max-width: 55%;
    }
    
    .section-left #gatinho {
        top: 40vw;
    }

    .section-right {
        max-width: 700px;
    }
}

@media (min-width: 1200px) and (max-width: 1340px){
    .section-left{
        width: 35%;
    }

    .section-left p {
        padding: 10px;
    }

    .section-left #gatinho {
        top: 40vw;
    }

    .section-right {
        width: 50%;
    }
}

@media (min-width: 1340px) and (max-width: 1500px){
    .section-left #gatinho {
        top: 35vw;
    }

    .section-right {
        min-width: 50%;
    }
}

@media (min-width: 1580px) and (max-width: 1900px){
   .section-left #gatinho {
    width: 28vw;
    height: 16vw;
   } 
    
    .section-right {
        width: 40%;
        height: 50vh;
    }
}

@media (max-height: 700px)  {
    main {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .section-left {
        max-width: 80%;
        height: auto;
        margin-right: 5%;
        margin-left: 5%;
    }

    .section-left button {
        height: 9vh;
    }

    .section-left #gatinho {
        display: none;
    }

    .section-right {
        display: none;
    }

    .section-right .carrossel {
       display: none;
    }

}

@media (min-height: 701px) and (max-height: 799px){
    .section-left{
       height: auto;
    }

    .section-left #gatinho {
     display: none;
    }
} 

@media (min-height: 800px) and (max-height: 1099px){
    .section-left{
       height: auto;
    }

    .section-left #gatinho {
     display: none;
    }

    .section-right {
        max-height: 60vh;
        /* height: auto; */
        max-height: 50vh;
    }
} 


@media (min-height: 1100px){
    .section-left {
        height: auto;
    }

    .section-right {
        height: auto;
        max-width: 700px;
    }
}