@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
   background-color: #6A0DAD;
}


h1{
    position: absolute;
    color: white;
    top: 20px;
    border-bottom: 1px solid white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.diagonal-split {
    display: flex;
    width: 100%;
    height: 80vh;
}

.content-img {
    width: 50%;
    height: 100%;
}

.content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content-text {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    background-color: #6A0DAD;
    font-size: 1.2rem;
    line-height: 1.6;
}

.content-text img{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 350px;
    right: 450px;
}


/* Responsividade */

@media (max-width: 600px){
    main{
        flex-direction: column;
    }

    .diagonal-split {
        flex-direction: column;
    }

    .content-img {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
    }

    .content-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .content-text {
        position: absolute;
        top: 100px;
        width: 80vw;
        height: 70%;
        margin-top: 20vw;
        margin-left: 8vw;
        border-radius: 20px;
        background-color: #6a0dadd0;

    }

    .content-text p {
       text-align: justify;
    }

    h1 {
        font-size: 30px;
    }

    .content-text img {
        display: none;
    }

    footer {
        display: none;
    }


}

@media (min-width: 601px) and (max-width: 1000px){
    main{
        flex-direction: column;
    }

    .diagonal-split {
        flex-direction: column;
    }

    .content-img {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
    }

    .content-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .content-text {
        position: absolute;
        top: 100px;
        width: 80vw;
        height: 70%;
        margin-top: 10vw;
        margin-left: 8vw;
        border-radius: 20px;
        background-color: #6a0dadd0;

    }

    .content-text p {
       text-align: justify;
    }

    h1 {
        font-size: 30px;
    }

    .content-text img {
        top: 80%;
        left: 25%;
    }


}


@media (min-width: 1001px) and (max-width: 1400px){
    .content-text{
        text-align: justify;
    }
    .content-text img {
        top: 70%;
        left: -20%;

    }
}

@media (min-width: 1401px) and (max-width: 1900px){
    .content-text{
        text-align: justify;
    }
    .content-text img {
        top: 70%;
        left: -10%;
        width: 30vw;
        height: 40vh;
    }
}

@media (min-width: 1901px) and (max-width: 2100px){
    .content-text{
        text-align: justify;
    }
    .content-text img {
        top: 70%;
        left: -10%;
        width: 30vw;
        height: 40vh;
    }
}